{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {{ block.super }} | Вход
{% endblock title %}

{% block content %}

    <div class="edit_profile register login">
        <div class="container">
            <div class="row">
                <div class="col-lg-7"></div>
                <div class="col-lg-5">
                    <div class="right_part space-y-20">
                        <h1 class="color_white"> Добро пожаловать! </h1>
                        <p class="color_white" style="color: white !important">
                            Всё ещё не зарегистрированы?
                            <a href="register.html">
                                Регистрация
                            </a>
                        </p>
                        <form method="post">
                        {% csrf_token %}
                        <div class="box edit_box w-full space-y-20">
                            <div class="space-y-10">
                                <span class="nameInput">Логин </span>
                                <div class="confirm">
                                    {{ form.username }}
                                </div>
                            </div>
                            <div class="space-y-10">
                                <span class="nameInput">Пароль</span>
                                <div class="confirm">
                                    {{ form.password }}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-grad w-full btn-lg ">Войти</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
