{% extends "shop/base.html" %}
{% load static %}

{% block title %} Регистрация {% endblock title %}

{% block content %}
    <div class="edit_profile register">
        <div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-9">
                    <div class="right_part space-y-20">
                        <h1 class="color_white"> Регистрация аккаунта</h1>
                        <p class="color_white" style="color: white !important"
                        >Вы можете установить предпочтительное отображаемое имя
                            и управлять другими личными настройками.</p>
                        <div class="box edit_box w-full space-y-20">
                            <div class="row">
                                <div class="col-lg-6 account-info">
                                    <div class="avatars space-x-20 mb-30">
                                        <div id="profile-container">
                                            <img id="profileImage"
                                                 src='{% static "shop/img/avatars/avatar_3.png"%}'
                                                 alt="Avatar"
                                                 class="avatar avatar-lg border-0">
                                        </div>
                                        <div>
                                            <h6 class="mb-1">Profile photo</h6>
                                            <p class="mb-1"
                                            >We recommend an image of at least 400x400. Gifs work too
                                                🙌</p
                                            >
                                            <div id="boxUpload">
                                                <a href='{% static "#"%}' class="btn btn-sm btn-dark"> Upload </a>
                                                <input
                                                        id="imageUpload"
                                                        type="file"
                                                        name="profile_photo"
                                                        placeholder="Photo"
                                                        required=""
                                                        capture=""
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="mb-20"> 🍉 Account info </h3>
                                    <div class="form-group space-y-10 mb-0">
                                        <div class="space-y-20">
                                            <div class="space-y-10">
                                                <span class="nameInput">Display name</span>
                                                <input
                                                        type="text"
                                                        class="form-control"
                                                        placeholder="your name"
                                                />
                                            </div>
                                            <div class="space-y-10">
                                                <span class="nameInput">Custom URL</span>
                                                <input
                                                        type="text"
                                                        class="form-control"
                                                        placeholder="raroin.creabik.com/"
                                                />
                                            </div>
                                            <div class="space-y-10">
														<span class="nameInput d-flex justify-content-between"
                                                        >Email
															<span class="txt_xs color_text"
                                                            >Your email for marketplace notifications</span
                                                            >
														</span>
                                                <div class="confirm">
                                                    <input
                                                            type="text"
                                                            class="form-control"
                                                            placeholder="Enter email"
                                                    />
                                                    <a href='{% static "#"%}' class="confirm-btn btn btn-dark btn-sm"
                                                    >Confirm</a
                                                    >
                                                </div>
                                            </div>
                                            <div class="space-y-10">
                                                <span class="nameInput">Bio</span>
                                                <textarea
                                                        style="min-height: 110px"
                                                        placeholder="Add your bio"
                                                >
														</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 social-media">
                                    <h3 class="mb-20">👨 Social media ‍</h3>
                                    <div class="form-group space-y-10">
                                        <div class="space-y-20">
                                            <div class="d-flex flex-column">
                                                <span class="nameInput mb-10">Facebook</span>
                                                <input
                                                        type="text"
                                                        class="form-control"
                                                        placeholder="facebook username"
                                                />
                                                <a
                                                        class="facebook-btn btn btn-primary mt-10 btn-sm"
                                                        href='{% static "#"%}'
                                                >
                                                    <i class="ri-facebook-circle-fill"></i>
                                                    Connect to Facebook
                                                </a>
                                            </div>
                                            <div class="d-flex flex-column">
                                                <span class="nameInput mb-10">Twitter</span>
                                                <input
                                                        type="text"
                                                        class="form-control"
                                                        placeholder="twitter username"
                                                />
                                                <a
                                                        class="twitter-btn btn btn-primary mt-10 btn-sm"
                                                        href='{% static "#"%}'
                                                >
                                                    <i class="ri-twitter-fill"></i>
                                                    Connect to Twitter
                                                </a>
                                            </div>
                                            <div class="d-flex flex-column">
                                                <span class="nameInput mb-10">Discord</span>
                                                <input
                                                        type="text"
                                                        class="form-control"
                                                        placeholder="discord username"
                                                />
                                                <a
                                                        class="discord-btn btn btn-primary mt-10 btn-sm"
                                                        href='{% static "#"%}'
                                                >
                                                    <i class="ri-discord-fill"></i>
                                                    Connect to Discord
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="mb-20 mt-40">📮 Notifications </h3>
                                    <ul class="space-y-10">
                                        <li class="d-flex space-x-10 switch_item">
                                            <input type="checkbox" id="switch1" checked="" /><label
                                                for="switch1"
                                        >Toggle</label
                                        >
                                            <span class="color_text"> Email Notifications </span>
                                        </li>
                                        <li class="d-flex space-x-10 switch_item">
                                            <input type="checkbox" id="switch2" checked="" /><label
                                                for="switch2"
                                        >Toggle</label
                                        >
                                            <span class="color_text"> New Bids </span>
                                        </li>
                                        <li class="d-flex space-x-10 switch_item">
                                            <input type="checkbox" id="switch3" checked="" /><label
                                                for="switch3"
                                        >Toggle</label
                                        >
                                            <span class="color_text"> Item Purchased </span>
                                        </li>
                                        <li class="d-flex space-x-10 switch_item">
                                            <input type="checkbox" id="switch4" checked="" /><label
                                                for="switch4"
                                        >Toggle</label
                                        >
                                            <span class="color_text"> People Followed </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="hr"></div>
                            <p class="color_black">
                                Пожалуйста, потратьте пару менут для того, чтобы прочитать
                                Общие условия предоставления услуг. Для продолжения, вам необходимо
                                принять условия соглашения.</p>
                            <a href='{% static "#"%}' class="btn btn-grad">Регистрация</a>
                            <div>
                                <h2> Регистрация </h2>
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_table }}
                                    <button type="submit"> Зарегистрироваться </button>
                                     <a href="{% url 'users:login' %}">login</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
